/* Estilos padrão */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    padding: 20px;
}

.response {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    margin-top: 10px;
}

textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    resize: none;
    min-height: 50px;
    margin-top: 20px;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    textarea {
        width: 90%;
    }

    button {
        width: 100%;
    }
}